@media(max-width: 767px)and (min-device-pixel-ratio: 2),(max-width: 767px)and (-webkit-min-device-pixel-ratio: 2),(max-width: 767px)and (min-resolution: 192dpi),(max-width: 767px)and (min-resolution: 2dppx) {
    .hero {
        background-image:url("../img/header@2x.webp")
    }
}

@media(min-width: 768px)and (min-device-pixel-ratio: 2),(min-width: 768px)and (-webkit-min-device-pixel-ratio: 2),(min-width: 768px)and (min-resolution: 192dpi),(min-width: 768px)and (min-resolution: 2dppx) {
    .hero {
        background-image:url("../img/header@2x.webp")
    }
}
@media screen and (max-width: 1200px){
    .mobile-menu {
        display:block;
    }
}

@media screen and (max-width: 767px) {

    body {
        margin-top:47px;
    }
    .hero {
        background-image: url("../img/header.webp")
    }
    .nav-footer--link {
        font-size:16px;
    }
    .section-content-image--wrapper {
        overflow-x:scroll;
    }

    .section-content-image--wrapper img {
        width: 200%;
    }
}


@media screen and (min-width: 768px) {
    .container {
        margin-left:auto;
        margin-right: auto;
        width: 100%;
    }
    .hero {
        background-image:url("../img/header.webp");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        height: 466px;
    }

    .hero-title {
        font-size: 53px;
        line-height: 58px;
        font-weight: 700;
    }
    .hero-title span {
        color: #FFF;
        font-size: 43.017px;
        font-weight: 700;
        line-height: normal;
    }
    .section {
        padding: 80px 0;
    }

}
@media(min-width: 1200px) {
    .logo-hero {
        display:block;
    }
    .mobile-menu {
        height:40%;
    }
    .hamburger {
        top:11px;
        right: 52px;
        display:none;
    }
    .mobile-menu__bar {
        display:none;
    }
    .nav {
        display:-webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }
    .section-title {
        font-size:30px;
    }
    .container {
        max-width:1116px;
    }
    .hero {
        background-image:url("../img/header.webp");
    }
    .hero-title {
        max-width:1100px;
    }
    .nav-list--link {
        line-height: 19px;
    }
    .container_small {
        max-width: 932px
    }
}

@media(min-width: 1200px)and (min-device-pixel-ratio: 2),(min-width: 1200px)and (-webkit-min-device-pixel-ratio: 2),(min-width: 1200px)and (min-resolution: 192dpi),(min-width: 1200px)and (min-resolution: 2dppx) {
    .hero {
        background-image:url("../img/header.webp")
    }
}
